<!DOCTYPE html>
<html ng-app="toDoList">
<head>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="cotroller.js"></script>
    <script src="angular-local-storage.js"></script>
    <title>factoris</title>
</head>

<body ng-controller="ToDoController">

    <form ng-submit="addActv()">
        <input type="text" ng-model="newActv.descripcion">
        <input type="datetime-local" ng-model="newActv.fecha" >
        <button ng-click="addActv">agregar a la lista</button>
    </form>

    <h1>listaa</h1>
    <ul>
        <li ng-repeat="acti in todo">
            {{acti.descripcion}} -
            {{acti.fecha}}
        </li>
    </ul>

   
</body>
</html>